* {
    outline-color: transparent;
}
body {
    background-color: #f4f4f4;
}
.new{
    color: #757575;
    font-size: 14px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 21px;
    letter-spacing: .08em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
h1 {
    font-size: 24px;
    line-height: 1.5;
}
h2 {
    font-size: 22px;
    line-height: 1.5;
}

h3 {
    font-size: 20px;
    line-height: 1.5;
}

h4 {
    font-size: 18px;
    line-height: 1.5;
}

h5 {
    font-size: 16px;
    line-height: 1.5;
}

h6 {
    font-size: 14px;
    line-height: 1.5;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    color: #333;
    line-height: 1;
    margin: 0 0 16px;
    text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #FF6200;
}
a {
    color: #FF6200;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.blog-wrapper{
    padding-left: 48px;
    padding-right: 48px;
}
.muted-text{
    color: #757575;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: .08em;
    display: flex;
    align-items: center;
}
.muted-text::after{
    content: '';
    display: block;
    height: 1px;
    background: #CFCFCF;
    flex: 1;
    width: 100%;
    margin-left: 8px;
}
.card:hover {
        box-shadow: 0 8px 15px rgb(0 0 0 / 8%);
}


@media only screen and (max-width: 465px) {
    .blog-wrapper{
        padding-left: 10px;
        padding-right: 10px;
    }
}